.center-box {
  height: 100vh;               
  display: flex;              
  flex-direction: column;     
  justify-content: center;   
  align-items: center;         
}

#burger-toggle {
display: none;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap; 10px;
  cursor: pointer;
}

.burger-anim {
 display: flex;
  flex-direction: column;
  gap: 5px;
  animation: rotateBurger 3s ease-in-out infinite; 
}


.bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.3s;
}


#burger-toggle:checked + .container .burger-anim .bar1 {
  transform: translateY(10px) rotate(-45deg);
}
#burger-toggle:checked + .container .burger-anim .bar2 {
  opacity: 0;
}
#burger-toggle:checked + .container .burger-anim .bar3 {
  transform: translateY(-10px) rotate(45deg);
}

#burger-toggle: checked + .container .burger-anim {
animation: none;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#burger-toggle:checked ~ .menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  padding: 8px 12px;
  color: #333;
  width: 120px;
  text-align: center;
  transition:background 0.3s;
}

.menu a:hover {
  background: #ddd;
}


@keyframes rotateBurger {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
